<template>
  <div class="container-fluid">
    <div class="d-flex">
      <div class="col-md-10 logo">
        <img src="@/assets/images/logo.png" alt="logo" class="position-absolute ">
      </div>

      <div class="col-md-2">
        <div class="list-group h-50  list-layers position-absolute">
          <button
              type="button"
              class="list-group-item list-group-item-action "
              v-for="(layer, index) in mapLayers"
              :key="layer"
              :class="activeIndex === index? 'active': ''"
              @click="(loadLayer(layer), activeIndex = index)"
          >
            {{ layer.title }}
          </button>
        </div>
      </div>

      <div class="col-md-12">
        <div class="list-group position-absolute h-50  subjects overflow-auto">
          <button
              type="button"
              class="list-group-item list-group-item-action h-50"
              v-for="(value) in subjects"
              :key="value"
          >
            {{ value }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--    <map-layers></map-layers>-->

  <div ref="mapContainer" class="l-map"></div>
</template>

<script>
import methods from './methods/AppMap'
import computed from './computed/AppMap'
// import MapLayers  from './MapLayers'

export default {
  name: "AppMap",
  data() {
    return {
      activeIndex: 0
    }
  },

  // components: {MapLayers},
  computed: computed,
  methods: methods,

  mounted: function () {
    this.renderMap()
  }
}
</script>