<template>
  <div class="container-fluid">
    <div class="list-group col-md-2 list-layers position-absolute float-right justify-content-end">
      <button
          type="button"
          class="list-group-item list-group-item-action"
          v-for="(layer, index) in mapLayers"
          :key="layer"
          :class="activeIndex == index? 'active': ''"
          @click.prevent.stop="(loadLayer(layer), activeIndex = index)"
      >
        {{ layer.title }}
      </button>
    </div>
  </div>
</template>


<script>
import methods from './methods/AppMap'
import computed from './computed/AppMap'

export default {
  name: "MapLayers",
  data() {
    return {
      activeIndex: -1
    }
  },
  methods: methods,
  computed: computed,


}
</script>