#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}


.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    clear: both;
}

.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}

.legend .min {
    float: left;
    padding-bottom: 5px;
}

.legend .max {
    float: right;
}

.l-map {
    width: 100%;
    height: 900px;
    position: relative;
}

.list-layers {
    /*position: absolute;*/
    z-index: 999;
    /*margin-left: 82%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-end;*/
}

.legend {
    line-height: 25px;
    color: #555;
    padding: 8px 20px;
    /*font: 12px Arial, Helvetica, sans-serif;*/
    font-weight: bold;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.legend li {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.logo {
    z-index: 999;
}

.logo img {
    z-index: 999;
    width: 13%;
    display: flex;
    margin-left: 30px;
}

.subjects {
    z-index: 999;
  margin-top: 20%;
    margin-left: -18%;
  /*  margin-left: 60%;*/
}